/* Start of Unoversal Selctor */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    position: sticky;
    top: 0;
    padding: 15px 20px;
    background: linear-gradient(
      90deg,
      rgba(128, 128, 128, 0.85),
      rgba(0, 0, 0, 0.75)
    );
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  header nav {
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 25px;
    transition: background 0.3s ease, color 0.3s ease;
  }
  
  nav a:hover {
    background-color: #4a4b4d;
    color: #fff;
  }
  
  .main-container {
    display: flex;
    overflow: hidden;
    height: 100vh;
  }
  
  /* start of  the logo */
  .logo-content {
    padding: 50px;
    width: 100%;
    background-color: rgba(196, 192, 192, 0.342);
    overflow: auto;
  }
  
  .logo-content::-webkit-scrollbar,
  .form-container::-webkit-scrollbar {
    display: none;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
  }
  
  .image-container img {
    display: block;
    height: auto;
    max-width: 500px;
    width: 100%;
  }
  
  .header-text {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .header-text h1 {
    width: 100%;
    max-width: 60%;
    font-size: 3vw;
    text-align: center;
  }
  
  .icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
  }
  
  .tel-text,
  .copyright {
    text-align: center;
    margin-top: 10px;
  }
  
  .tel-text a {
    color: #000;
    text-decoration: none;
  }
  
  /* Start of the Form Content */
  .form-content {
    width: 100%;
    padding: 2rem;
    overflow: auto;
  }
  
  .sign-text {
    padding: 10px;
    text-align: right;
  }
  
  .sign-text p {
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .sign-text p a {
    text-decoration: none;
    color: blue;
  }
  
  .form-section {
    margin-top: 30px;
  }
  
  .form-section h2 {
    font-size: 30px;
    color: rgb(62, 98, 165);
    margin-bottom: 5px;
  }
  
  .form-section .apply-text {
    margin-bottom: 10px;
    font-size: 19px;
    color: grey;
  }
  
  .label-input-container {
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }
  
  .label-input-container .label-input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .label-input label {
    font-size: 2vw;
  }
  
  .label-input input,
  .label-input select {
    padding: 10px;
    border: none;
    outline: none;
    background-color: rgba(209, 201, 201, 0.452);
  }
  
  .label-input input:hover,
  .label-input select:hover {
    border: 2px solid rgb(152, 205, 223);
  }
  
  .label-input input[type="text"],
  .label-input input[type="email"],
  .label-input input[type="number"],
  .label-input input[type="date"],
  .label-input select option {
    font-size: 1vw;
  }
  
  .form-text {
    margin: 15px 0;
    font-size: 20px;
  }
  
  .form-text a {
    text-decoration: none;
    color: rgba(0, 0, 255, 0.726);
  }
  
  .form-btn {
    border: 2px solid blue;
    text-align: center;
  }
  
  .form-btn button {
    background-color: rgba(24, 24, 243, 0.911);
    padding: 10px;
    width: 100%;
    font-size: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: none;
    outline: none;
  }
  
  .logo-small-screen{
      display: none;
  }

  .facebook{
    border-radius: 50%;
    background-color: rgba(19, 25, 243, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 27px;
  }
  
  @media (max-width: 750px) {
    .main-container {
      display: flex;
      flex-direction: column;
      overflow: visible;
    }
  
    .label-input-container {
      display: flex;
      flex-direction: column;
    }
  
    .logo-content{
      display: none;
    }
  
    .logo-small-screen{
      display: block;
      text-align: center;
      padding: 20px;
    }
  
    .logo-small-screen img{
      width: 100px;
      height: 100px;
    }
  
    .form-container{
      overflow: visible;
    }
  
    .label-input label,
    .label-input input[type="text"],
  .label-input input[type="email"],
  .label-input input[type="number"],
  .label-input input[type="date"],
  .label-input select option {
    font-size: 20px;
  }
  }
  